@charset "utf-8";

body {
  margin: 0px;
}

.bannerimage {
  height: 300px;
  width: 100vw;
  background-color: #333333;
  background-image: url('images/header_bg.png');
  background-position: right;
  background-repeat: no-repeat;
}
