/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.bannerimage {
  height: 250px;
  width: 100vw;
  background-color: #333333;
  background-image: url('images/header_bg.png');
  background-position: right;
  background-repeat: no-repeat;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


.site-nav {
  background-color: #fdfdfd;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 256px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

$speed: 7s;
$increase-vert: $speed/10;
$scanlines: 1px;

@keyframes blur-n-hue {
	0% {filter: blur(10px) hue-rotate(-15deg);}
	50% {filter: blur(20px) hue-rotate(0deg);}
	100% {filter: blur(10px) hue-rotate(-15deg);}
}
@keyframes move {
	from {top: 0%; opacity: 0.8;}
	to {top: 100%; opacity: 1;}
}
@keyframes angle {
	0% {transform: rotateX(58deg);}
	50% {transform: rotateX(60deg);}
	100% {transform: rotateX(58deg);}
}
@keyframes bg {
	0% {background-color: rgba(46, 46, 46, 0);}
	49% {background-color: rgba(46, 46, 46, 0);}
	50.5% {background-color: rgba(155, 155, 206, .4);}
	51% {background-color: rgba(46, 46, 46, 0);}
	51.5% {background-color: rgba(155, 155, 206, .3);}
	57% {background-color: rgba(46, 46, 46, 0);}
	100% {background-color: rgba(46, 46, 46, 0);}
}
.text {
	color: white;
	font: small-caps lighter 14px/150% "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: .2rem;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
	line-height: 1.2em;
	filter: colour-shift(10);
	z-index: 20;
}

bannerimage {
	animation: blur-n-hue $speed infinite ease-in-out;
	content: "";
	display: block;
	background: rgba(224, 87, 90, 1);
	background: linear-gradient(180deg,
		rgba(150, 50, 50, 0.8) 0%,
		rgba(200, 50, 100, 1) 6%,
		rgba(220,220,220, 1) 8%,
		rgba(224, 87, 90, 1) 12%,
		rgba(224, 37, 90, 1) 100%
	);
	width: 75vw;
	height: 250px;
	left: -25%;
	bottom: -10%;
	position: absolute;
}

.grid {
	perspective: 300px;
	width: 100%;
	height: 300px;
	position: relative;
	.grid-inner {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		height:300px;
		transform: rotateX(60deg);
		//animation: angle 5s infinite ease-in-out;
	}
}
.line {
	display: block;
	position: absolute;
	width: 0px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid white;
	box-sizing: border-box;
	height: 275px;
	background: white;
	box-shadow: 0px 0px 6px 2px rgba(255,225,225,0.8);
}
.hori, .vert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 275px;
}
.hori {
	.line {
		&:nth-child(1) {left: -40%;}
		&:nth-child(2) {left: -20%;}
		&:nth-child(3) {left: 0%;}
		&:nth-child(4) {left: 20%;}
		&:nth-child(5) {left: 40%;}
		&:nth-child(6) {left: 60%;}
		&:nth-child(7) {left: 80%;}
		&:nth-child(8) {left: 100%;}
		&:nth-child(9) {left: 120%;}
		&:nth-child(10) {left: 140%;}
	}
}

.vert {
	.line {
		animation: move $speed infinite linear;
		width: 200%;
		left: -50%;
		height: 0px;
		&:nth-child(1) {animation: none; opacity: 0.7;}
		&:nth-child(2) {animation-delay: $increase-vert;}
		&:nth-child(3) {animation-delay: $increase-vert*2;}
		&:nth-child(4) {animation-delay: $increase-vert*3;}
		&:nth-child(5) {animation-delay: $increase-vert*4;}
		&:nth-child(6) {animation-delay: $increase-vert*5;}
		&:nth-child(7) {animation-delay: $increase-vert*6;}
		&:nth-child(8) {animation-delay: $increase-vert*7;}
		&:nth-child(9) {animation-delay: $increase-vert*8;}
		&:nth-child(10) {animation-delay: $increase-vert*9;}
	}
}
